<%- include ('../partials/header') %>
  <%- include ('../partials/menu') %>
    <%- include ('../partials/message') %>
      <main>
        <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Movie</th>
                <th scope="col">Review_Date</th>
                <th scope="col">Review</th>
              </tr>
            </thead>
            <tbody>
              
                <% results.forEach(function(result){ %>
                <tr>
                    
                    <td><%= result.movie_name%></td>
                    <td><%= result.review_date%></td>
                    <td><%= result.review%></td>
                </tr>
                    <%});%>

              
            </tbody>
          </table>

      </main>

      <%- include ('../partials/footer') %>